.metadata/
.settings/
.classpath
bin/
.project
*.class

# Media and binary files
*.pdf
!DESIGN.pdf
*.png
*.gif
*.3gp
*.dat
*.tiff
*.jpg
*.jpeg
*.bmp
*.wav
*.m4a
*.wma
*.avi
*.mp4
*.mp3
*.o
*.obj
*.objdump
*.s
*.lib
